fastapi
uvicorn

python-dotenv

pydantic

langchain
langchain-core
langchain-community
langchain_chroma
langchain-openai
langchain-mistralai
langchain-openrouter
langchain-ollama
langchain_huggingface


sentence-transformers
huggingface-hub

tavily-python


