fastapi
uvicorn

python-dotenv

pydantic

langchain
langchain-core
langchain-community
langchain-openai
langchain-mistralai
langchain-openrouter
langchain-ollama

sentence-transformers
huggingface-hub

tavily-python


